modules = ["bun-1.2", "rust-stable", "nodejs-20"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/Stellar-Game-Studio/zk-rps-battle-frontend && bun run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"
packages = ["dbus"]

[userenv]

[userenv.shared]
VITE_ZK_RPS_BATTLE_CONTRACT_ID = "CDKC7PIUYAPEDFXIZ27R7EYUA5GJGTSCVO27OBHFSDUA7NFAY4IY3EZ3"

[deployment]
run = ["sh", "-c", "/nix/store/2x94g3skvh12651bli2ab0bmx24lxb6l-rust-mixed/bin/cargo run"]
deploymentTarget = "cloudrun"
